nav
{
    width: max-content;
    display: block;
    position: fixed;
    top: 20%;
    left: 0;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    backdrop-filter: blur(15px);
}

nav a
{
    background: transparent;
    padding: 0.9rem;
    border-radius: 1rem;
    display: flex;
    color: var(--color-primary);
    font-size: 1.1rem;
}

nav a:hover
{
    background :rgba(0,0,0,0.5);
    color:var(--color-white)
}

nav a.active
{
    background: var(--color-primary);
    color: var(--color-bg);
}

/*=============================MOBILE MENU==================*/
@media screen and (max-width: 700px)
{


    nav
    {
        background: rgba(0  , 0, 0, 0.4);
        border-radius: 1rem;
        width: max-content;
        display: block;
        padding: 0.3rem 1.3rem;
        z-index: 2;
        position: fixed;
        top: auto;
        bottom:1rem;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2rem;
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
    }
    
}
